.form-center,
.main-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem auto;

  position: relative;
  height: 75vh;
}

.btn.submit-btn {
  display: block;
  margin-left: auto;
}

.error:is(.form-control, .form-select) {
  border: 0.0625rem solid red;
}

.registerList {
  position: -webkit-sticky;
  position: absolute;

  right: 2.5%;

  height: 95%;

  width: -webkit-max-content;

  width: -moz-max-content;

  width: max-content;

  overflow-y: scroll;
  scrollbar-width: none;

  display: none;
}
.show {
  display: block;
}
.register p {
  margin: 0;
}
.register .registerField {
  margin-bottom: 0.5rem;
}

header.flex {
  display: flex;
  gap: 1rem;
}
